/benchmarks/ResConvLSTMNet.pt 
/benchmarks/ResConvLSTM.pt 
/scripts/core*
/benchmarks/data/
/data/  
/pretrained_models/  
/models/test/
/models/hic_train_log_cache/
/models/
/model/__pycache__/
/logs/test/
/logs/test_log/
/logs/
/final_prediction/
/final_matrices/
/results/
/final_results/
/HiC4D_d4_test/
/hamster/
/new_data/
/new_resolution_data/
/new_resolution_results/
/data_test/
/processed_data/
*.pyc
