/HiC4D_package/ResConvLSTM.pt 
/dmvfn/CVPR2023-DMVFN/scripts/train.sh
/HiC4D_package/data/
/dmvfn/CVPR2023-DMVFN/data/  
/dmvfn/CVPR2023-DMVFN/pretrained_models/  
/dmvfn/CVPR2023-DMVFN/models/test/
/dmvfn/CVPR2023-DMVFN/models/hic_train_log_cache/
/dmvfn/CVPR2023-DMVFN/model/__pycache__/
