/HiC4D_package/ResConvLSTM.pt 
/HiC4D_package/data/
/dmvfn/CVPR2023-DMVFN/data/  
/dmvfn/CVPR2023-DMVFN/pretrained_models/  
/dmvfn/CVPR2023-DMVFN/models/test/
/dmvfn/CVPR2023-DMVFN/model/__pycache__/
/dmvfn/CVPR2023-DMVFN/sripts/train.sh
